body{
    background-image: url(imagens/redstone-background.jpg);
}

.navbar-geral{
    display:flex;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-image: linear-gradient( rgb(59, 59, 59), rgb(41, 41, 41));
    font-family: Mulish, sans-serif;
}
.navbar-geral img{
    display:flex;
    width: 5em;
    margin-right: 2em;
    margin-left: 1em;
}
.navbar-geral ul{
    display:flex;
    
}
.navbar-geral li{
    margin-right: 4em;
}
.navbar-geral input{
    border-radius: 1rem;
    width: 15rem;
    height: 1.4rem;
}
.navbar-geral button{
    border-radius: 1rem;
    width: 5rem;
    height: 1.5rem;
}
.casa-automatica{
    display: flex;
    margin-top: 10rem;
    flex-wrap: wrap;
}
.cards{
    background-color: honeydew;
    width: 17rem;
    height: 15rem;
    border-radius: 1rem;
    margin-left: 2.6rem;
    margin-bottom: 3rem;
}

.cards img{
    width:100%;
    border-radius: 1rem;
}
.cards h1{
    margin-top: 1px;
    border-top: 1px solid black;
}
